@trpc-turbo:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
strict-peer-dependencies=false
legacy-peer-deps=true
auto-install-peers=true
node-linker=hoisted
# In order to cache Prisma correctly
public-hoist-pattern[]=*prisma*
